<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar a SmartTech</title>

    <link rel="stylesheet" href="/css/normalyze.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/316d2b61a6.js" crossorigin="anonymous"></script>


</head>
<body>

        <header class="log-reg_header">
            <nav class="nav_header">

                <div class="button_back">
                    <a href="./index.html"><i class="fas fa-arrow-left"></i></a>                
                </div>

                <div class="logo_login">
                    <img src="/img/logo-grande.png">
                </div>

                <div><!--Contenido vacio--></div>

            </nav>
        </header>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++-->

        <main>

            <h1>Inicio de sesión</h1>

            <div class="formulario_login">
                <form action="/" method="GET">

                    <label for="name_label">Nombre de Usuario</label>
                    <input type="text" name="user-name" class="form_user-name" id="name_label" placeholder="Nombre de usuario o correo">

                    <label for="pass_label">Contraseña</label>
                    <input type="password" name="user-pass" class="form_user-pass" id="pass_label" placeholder="Contraseña">

                    <button type="submit" class="submit_button">Iniciar Sesión</button>
                </form>

        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                <div class="forgotten_password">
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </div>

        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                <div class="register_button">
                    <a href="register.html">Crear cuenta nueva</a>
                </div>

            </div>

        </main>


    
</body>
</html>