.all-products_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.all-products_main {
    height: 100%;
    width: 100%;
    background-color: #C2C2C2;
    display: flex;
    justify-content: center;
    min-height: 650px;
}

* {
    font-family: 'Inter', sans-serif;
}


.main_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    margin: 8px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-height: 647px;
    padding-bottom: 50px;
}

.section_container label i {
    display: none;
}

.main_container label{
    font-weight: bold;
    font-size: 20px;
}

.product_info-s{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_info-s p{
    margin: 2px 0;
}


.main_exhibitor{
    width: 90%;
    height: 30%;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 2px 0px 4px 1px grey;
    max-height: 450px;
    max-width: 1200px;
    margin-bottom: 5%;
}

.main_exhibitor img {
    height: 100%;
    width: 100%;
    border: solid 1px white;
    border-radius: 20px;
    max-height: 450px;
    max-width: 1200px;

}


.section_container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px ;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}




.article_container{
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
}




.article_container article a{
    width: 100px;
    height: auto;
}




.article_container article a img {
    width: 100%;
    height: 100%;
    border: solid 1px black;
    border-radius: 50%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.section_container a {
    border-radius: 50%;
}












@media (min-width: 800px) {

    main {
        flex-direction: row;
    }

    .main_container{
        justify-content: center;
        align-items: center;
    }

    .section_container {
        display: flex;
        flex-direction: row;
    }

    

    .article_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .article_container article {
        margin: 10px 10px;
        height: 200px;
        width: 200px;
        
    }

}









@media (min-width:1000px){
    
    .section_container label i {
        font-size: 35px;
        color: white;
        background-color: black;
        border-radius: 50%;
        border: solid 1px black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article_container {
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

