.product-detail_body {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-detail_main_container {
    width: 90%;
}

.product-detail_main {
    width: 100%;
    height: 98%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.product_primary-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.product-detail_image {
    width: 60%;
    height: auto;
    border: solid 1px rgb(228, 228, 228);  
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail_image img {
    width: 100%;
    height: 100%;
}


/*GENERAL INFORMATION STYLE*/
.product-detail_gral_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-name {
    margin: 6px 0;
    left: 500px;
}

.product-stars {}
.product-stars button {}

.product-price {}

.product-specs {}
.product-specs header {}
.product-specs span {}

.product-buy_button {}

.product-add_cart {}


