<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/316d2b61a6.js" crossorigin="anonymous"></script>
    <title>SmartTech</title>

    <link rel="stylesheet" href="/css/normalyze.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">

</head>
<body>

       <%- include('./partials/header') %> 
    
<!--++++++++++++++++++++++++++++++++++++++-->

        <main>
            <div class="main_container">

                <div class="main_exhibitor"> <img src="/img/expositor.jpg" alt="Expositor"> </div>

                <label>DESTACADOS</label>

                <div class="section_container">

                    
                    <label><i class="fas fa-chevron-circle-left"></i></label>
                    <section class="article_container">

                        <a href="./product"> <article> <img src="/img/producto_1.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_2.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_7.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_4.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_5.png"> </article> </a>
                    </section>
                    <label> <i class="fas fa-chevron-circle-right"></i> </label>

                </div>

                
                <label>OFERTAS</label>
                <div class="section_container">

                    
                    <label><i class="fas fa-chevron-circle-left"></i></label>
                    <section class="article_container">
                        <a href="./product"> <article> <img src="/img/producto_4.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_5.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_2.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_6.png"> </article> </a>
                        <a href="./product"> <article> <img src="/img/producto_1.png"> </article> </a>
                    </section>
                    <label> <i class="fas fa-chevron-circle-right"></i> </label>

                </div>

            </div>
        </main>

<!--++++++++++++++++++++++++++++++++++++++-->
<%- include('./partials/footer') %>
</body>
</html>