<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar a SmartTech</title>

    <link rel="stylesheet" href="/css/normalyze.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/316d2b61a6.js" crossorigin="anonymous"></script>


</head>
<body class="login-form_body">

        <header class="log-reg_header">
            <nav class="nav_header">

                <div class="button_back">
                    <a href="/"><i class="fas fa-arrow-left"></i></a>                
                </div>

                <div class="logo_login">
                    <img src="/img/logo-grande.png">
                </div>

                <div><!--Contenido vacio--></div>

            </nav>
        </header>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++-->

        <main class="login-form_main">

            <h1>Inicio de sesión</h1>

            <div class="formulario_login">
                <form action="/users/login" method="POST">

                    <label for="name_label">Nombre de Usuario</label>
                    <input type="text" name="userNickName" class="form_user-name" id="name_label" placeholder="Nombre de usuario o correo">
                    <%if(locals.errors && errors.userNickName){ %>
                        <p class="error_msg"> <%=errors.userNickName.msg%> </p>
                    <%}%>

                    <label for="pass_label">Contraseña</label>
                    <input type="password" name="userPass" class="form_user-pass" id="pass_label" placeholder="Contraseña">
                    <%if(locals.errors && errors.userPass){ %>
                        <p class="error_msg"> <%=errors.userPass.msg%> </p>
                    <%}%>

                    <button type="submit" class="submit_button">Iniciar Sesión</button>
                </form>

                <%#if(error){%>
                   <!-- <p><%#=error%></p> -->
                <%#}%> 
                
        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                <div class="forgotten_password">
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </div>

        <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

                <div class="register_button">
                    <a href="/users/register">Crear cuenta nueva</a>
                </div>

            </div>

        </main>


    
</body>
</html>