<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta </title>

    <link rel="stylesheet" href="/css/normalyze.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="/css/register-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/316d2b61a6.js" crossorigin="anonymous"></script>


</head>
<body>

        <header class="log-reg_header">
            <nav class="nav_header">

                <div class="button_back">
                    <a href="/"><i class="fas fa-arrow-left"></i></a>                
                </div>

                <div class="logo_login">
                    <img src="/img/logo-grande.png">
                </div>

                <div><!--Contenido vacio--></div>

            </nav>
        </header>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++-->

        <main>

            <h1> Registrate  </h1>

            <div class="formulario_register">

                <form action="/" method="GET">  

                    <label for="name_label">Nombre</label>
                    <input type="text" name="name" class="form_user-name" id="name_label">

                    <label for="lastName_label">Apellido</label>
                    <input type="text" name="lastName" class="form_user-name" id="lastName_label">

                    <label for="email_label">Email</label>
                    <input type="email" name="email" class="form_user-name" id="email_label">

                    <label for="user_label">Nombre de Usuario</label>
                    <input type="text" name="user-name" class="form_user-name" id="user_label" >

                    <label for="pass_label">Contraseña</label>
                    <input type="password" name="user-pass" class="form_user-name" id="pass_label" >

                    <label for="image">Foto de Usuario</label>
                    <input class="form_user-name" type="file" name="image" id="image">
                    
                    <button type="submit" class="submit_button">Crear cuenta </button>
                </form>

       

                

            </div>

        </main>


    
</body>
</html>