<div class="userDeleteConfirm_container">
    <form action="/users/profile/edit/delete?_method=delete" method="post">

        <h3>¿Deseas eliminar tu cuenta?</h3>

        <button type="button" class="button_cancel"> <i class="fas fa-times"></i> </button>

        <p> <i class="fa-solid fa-circle-exclamation"></i> Para eliminar tu cuenta debes ingresar tu contraseña </p>

        <label for="userDeleteConfirm_pass">Ingresar contraseña</label>
        <input type="password" name="userDeleteConfirm_pass" id="userDeleteConfirm_pass">

        <button type="submit" class="button_delete"> <i class="fa-solid fa-user-slash"></i> Eliminar </button>
    </form>
</div>