<div class="buttonBurguer_list-container">
    <div class="buttonBurguer_ul-draw"></div>
    <ul class="buttonBurguer_ul">
        <li class="buttonBurguer_li"><a href="/"><i class="fas fa-home buttonBurguerIcon"></i> Inicio</a></li>
        <li class="buttonBurguer_li"><a href="/users/:id"><i class="fas fa-user buttonBurguerIcon"></i> Perfil</a></li>
        <li class="buttonBurguer_li"><a href="/cart"><i class="fas fa-shopping-cart buttonBurguerIcon"></i> Carrito</a></li>
        <li class="buttonBurguer_li"><a href="#"><i class="fa-solid fa-circle-dollar-to-slot buttonBurguerIcon"></i> Ofertas</a></li>
        <li class="buttonBurguer_li"><a href="/users/logOut"><i class="fa-solid fa-right-from-bracket buttonBurguerIcon"></i> Cerrar sesion</a></li>
    </ul>
</div>