<footer class="footer">
            
    <div class="footer_logo-lit"> <img src="/img/logo.png"> </div>

    <div class="footer_logo-big"> <img src="/img/logo-grande.png"> </div>

    <!--Footer Productos-->
    <div class="footer_product"> 
        <ul type="none">
            <li>Productos</li>
            <li> <a href="#"></a> SmartPhones </li>
            <li> <a href="#"></a> Accesorios </li>
            <li> <a href="#"></a> Ofertas </li>
            <li> <a href="#"></a> Planes </li>
        </ul>
    </div>

    <!--Footer Contactos-->
    <div class="footer_contact">  
        <ul type="none">
            <li> Contacto </li>
            <li> <a href="#"><i class="fas fa-phone-alt"></i> +54-0362-4304587 </a> </li>
            <li> <a href="#"> <i class="far fa-envelope"></i> smarttechinc@hotmail.com </a> </li>
        </ul>
    </div>

    <div class="footer_info">
        <ul type="none">
            <li> Sobre Nosotros</li>
            <li> somos un e-commerce dedicado a la venta de smartphones en variedad de marcas y modelos.
                 Este e-commerce brinda dispositivos con capacidad de soportar grandes exigencias.</li>
        </ul>
    </div>

    <div class="footer_social-webs">
        <a href=""> <i class="foot_facebook fab fa-facebook"></i> </a>
        <a href=""> <i class="foot_instagram fab fa-instagram"></i> </a>
        <a href=""> <i class="foot_twitter fab fa-twitter"></i> </a>
        <a href=""> <i class="foot_youtube fab fa-youtube"></i> </a>
    </div>
</footer>