<header class="header">
    <nav>

        <!--Logo y Barra de busqueda-->
        <div class="nav_logo-search">
            <a href="/" class="nav_logo"><img src="/img/logo.png"></a>
            <form method="GET" class="nav_search"> <input name="search" type="search" placeholder="Buscar en SmartTech:"> </form>
        </div>

        <!--Boton de ofertas, home y carrito de compras-->
        <div class="nav_buttons">
        <a href="#" class="nav_sale"> Ofertas </a>
        <a href="/" class="nav_home"> <i class="fas fa-home"></i> </a>
        <a href="/cart" class="nav_buy-cart">Carrito</a>
        </div>

        <!--Botón hamburguesa, usuario y configuración de usuario-->
        <div class="nav_right-buttons">
            <label class="button-burger"> <i class="fas fa-bars"></i> </label>
            <%-include('./buttonBurguerList')%>
            
            <%#if(userLogged=undefined){%>
                <a href="/users/login" class="button-user"> <i class="far fa-user"></i> </a>
            <%#} else {%>
            <!--    <a href="/users/profile" class="button-user"> <img src="/img/usersImages/<%#=userLogged.userImage%>"> </a> -->
            <%#}%>

            <a href="#" class="button-config"> <i class="fas fa-cogs"></i> </a>
        </div>

        <%-include('./listconfig')%>
        </div>

    </nav>
</header>